Typograpgy:
<h1>Heading 1</h1>
<h2>Heading 2</h2>
<h3>Heading 3</h3>
<h4>Heading 4</h4>
<h5>Heading 5</h5>
<h6>Heading 6</h6>

<p class="text-lg fw-600">text Large</p>
<p class="text">text</p>
<p class="text-sm text-alert-danger">text</p>
<p class="text-xs text-tint-40">text</p>

<div class="border shadow-01 border-secondary-green"></div>
<div class="border shadow-02 shadow-secondary-purple"></div>
<div class="border shadow-03"></div>
<div class="border shadow-04"></div>
<div class="border shadow-05"></div>

<button class="btn btn-primary-1 btn-sm">Primary</button>
<button class="btn btn-primary-1">Primary</button>
<button class="btn btn-primary-1 btn-lg" disabled>Primary</button>
<button class="btn btn-link btn-sm">Link</button>
<button class="btn btn-link">Link</button>
<button class="btn btn-link btn-lg">Link</button>
<button class="btn btn-secondary btn-sm">Secondary</button>
<button class="btn btn-secondary">Secondary</button>
<button class="btn btn-secondary btn-lg">Secondary</button>
<button class="btn btn-secondary-red btn-text-dark btn-sm">Danger</button>
<button class="btn btn-secondary-red btn-text-dark">Danger</button>
<button class="btn btn-secondary-red btn-text-dark btn-lg">Danger</button>